<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Marionette: introduction</title>
    <link href="assets/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="css/main.css" rel="stylesheet">
</head>
<body>
<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <div class="brand">INTRO</div>
        </div>
    </div>
</div>

<div id="main-region" class="container">
    Main region - content will be replaced on app start
</div>


<script id="contact-list-item" type="text/template">
    <%= firstName %> <%= lastName %>
</script>

<script type="text/template" id="list-item-template">
    <li>One item</li>
</script>

<script src="assets/jquery/dist/jquery.js"></script>
<script src="assets/json2/json2.js"></script>
<script src="assets/lodash/dist/lodash.js"></script>
<script src="assets/backbone/backbone.js"></script>
<script src="assets/backbone.marionette/lib/backbone.marionette.js"></script>
<script>
    var ContactManager = new Marionette.Application;
    ContactManager.Contact = Backbone.Model.extend({
        defaults: {
            firstName: '',
            lastName: '',
            phone: 'No phone number!'
        }
    });

    ContactManager.ContactCollection = Backbone.Collection.extend({
        model: ContactManager.Contact,
        comparator: function (a) {
            return a.get('firstName') + ' ' + a.get('lastName');
        }
    });

    ContactManager.addRegions({
        mainRegion: "#main-region"
    });

    ContactManager.ContactItemView = Backbone.Marionette.ItemView.extend({
        template: "#contact-list-item",
        tagName: 'li',
        events: {
            'click': 'alertPhoneNumber'
        },
        alertPhoneNumber: function () {
            alert(this.model.escape('phone'))
        }
    });

    ContactManager.ContactsView = Backbone.Marionette.CollectionView.extend({
        tagName: 'ul',
        itemView: ContactManager.ContactItemView
    });

    ContactManager.on('initialize:after', function () {
        var contacts = new ContactManager.ContactCollection([
            {firstName: 'aa', lastName: 'rr', phone: '+111'},
            {firstName: 'aa', lastName: 'dd', phone: '+222'},
            {firstName: 'bb', lastName: 'ee'},
            {firstName: 'bb', lastName: 'bb', phone: '+444444'}
        ]);


        var contactView = new ContactManager.ContactsView({collection: contacts});
        ContactManager.mainRegion.show(contactView);
    });

    ContactManager.start();
</script>
</body>
</html>